<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HYHT5Q88L7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HYHT5Q88L7');
    </script>
    <meta charset="UTF-8" name="viewport" content = "with=device-width, initial-scale=1.0">
    <title>Automatic Photo Cropper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome.min.css') }}">

</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="static/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>

                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">HOW IT WORKS</a></li>
                    <li><a href="">UPLOAD</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        

        <div class="text-box">
            <h1>Scan your photos more efficiently</h1>
            <p>You can fit 4 photos on a scanner, but only get 1 scan in return. You should get 4 in return.</p>
            <a href="" class="hero-btn">Try Autocropper now</a>
        </div>
    </section>

    <!-- -----JavaScript for Toggle Menu------ -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu(){
            // change specific style element of navLinks
            navLinks.style.right = "0";
        }
        function hideMenu(){
            // change specific style element of navLinks
            navLinks.style.right = "-200px";
        }
    </script>


</body>

</html>